<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate -f D:\ProgrammingEnviroment\Spring\MicroservicesExample\microservice-shop\pom3456160992264585671.xml"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="package=org.api.authh"/>
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="groupId=com.shop"/>
        <listEntry value="artifactId=api-authh"/>
        <listEntry value="outputDirectory=D:\ProgrammingEnviroment\Spring\MicroservicesExample\microservice-shop"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\ProgrammingEnviroment\Spring\MicroservicesExample\microservice-shop"/>
</launchConfiguration>
